.hexagon-cluster-small {
	color : rgba(0, 0, 0, 1);
	}

.hexagon-cluster-medium {
	color : rgba(255, 255, 255, 1);
	}

.hexagon-cluster-large {
	color : rgba(255, 255, 255, 1);
	}

.hexagon-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.hexagon-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.hexagon-cluster span {
	line-height: 30px;
	}
