body {
	font-family: verdana;
	padding: 0;
	margin: 0;	
}

h3 {  
  font-weight: bold;
}

p {
	font-style: italic;
	color: #A9A9A9;
}

 html, body, #map {
 height: 100%;
 font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
 }
 .sidepanel_donut {
 max-width: 14em;
 }
 .attribute_label {
 padding-top: 10px;
 margin: 0px;
 font-style: normal;
 }
 .donut_block {
 display:inline-block;
 width:13em;
 }
 .logo {
   max-width: 40%;
   align-content: center;
 }
 .authorlogo {
   height: 3em;
   margin: 10px 10px;
 }
 .orglogo {
   height: 3em;
   margin: 10px 10px;
 }
 .centered {
   text-align: center;
 }
 .defindicator {
	padding-top: 20px;
	padding-bottom: 0px;
	font-style: italic;
	color: #A9A9A9;
}