.circle {
  position: relative;
  border: 0.1em solid black;
  padding: 0;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.slice {
  overflow: hidden;
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  border: 0.1em solid rgba(0, 0, 0, 1);
}

.text {
  position: absolute;
  color: black;
  left: -100%;
  width: 200%;
  height: 200%;
  font-size: 1vh;
  text-align: center;
  transform: skewY(75deg) rotate(7.5deg);
  padding-top: 10px;
}

.slice:first-child {
  transform: rotate(0deg) skewY(-75deg);
}

.slice:nth-child(2) {
  transform: rotate(15deg) skewY(-75deg);
}

.slice:nth-child(3) {
  transform: rotate(30deg) skewY(-75deg);
}

.slice:nth-child(4) {
  transform: rotate(45deg) skewY(-75deg);
}

.slice:nth-child(5) {
  transform: rotate(60deg) skewY(-75deg);
}

.slice:nth-child(6) {
  transform: rotate(75deg) skewY(-75deg);
}

.slice:nth-child(7) {
  transform: rotate(90deg) skewY(-75deg);
}

.slice:nth-child(8) {
  transform: rotate(105deg) skewY(-75deg);
}

.slice:nth-child(9) {
  transform: rotate(120deg) skewY(-75deg);
}

.slice:nth-child(10) {
  transform: rotate(135deg) skewY(-75deg);
}

.slice:nth-child(11) {
  transform: rotate(150deg) skewY(-75deg);
}

.slice:nth-child(12) {
  transform: rotate(165deg) skewY(-75deg);
}

.slice:nth-child(13) {
  transform: rotate(180deg) skewY(-75deg);
}

.slice:nth-child(14) {
  transform: rotate(195deg) skewY(-75deg);
}

.slice:nth-child(15) {
  transform: rotate(210deg) skewY(-75deg);
}

.slice:nth-child(16) {
  transform: rotate(225deg) skewY(-75deg);
}

.slice:nth-child(17) {
  transform: rotate(240deg) skewY(-75deg);
}

.slice:nth-child(18) {
  transform: rotate(255deg) skewY(-75deg);
}

.slice:nth-child(19) {
  transform: rotate(270deg) skewY(-75deg);
}

.slice:nth-child(20) {
  transform: rotate(285deg) skewY(-75deg);
}

.slice:nth-child(21) {
  transform: rotate(300deg) skewY(-75deg);
}

.slice:nth-child(22) {
  transform: rotate(315deg) skewY(-75deg);
}

.slice:nth-child(23) {
  transform: rotate(330deg) skewY(-75deg);
}

.slice:nth-child(24) {
  transform: rotate(345deg) skewY(-75deg);
}

.slice:hover {
  text-shadow: 1px 1px 2px #000000;
}

.centercircle {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 0.1em solid rgba(0, 0, 0, 1);
  background: white;
  content: '';
}

.centercircletext {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  padding: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  color: #E2F2BF;
  text-align: center;
  font-size: 6vw;
  font-family: georgia, serif;
}

.centercircletextunit {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  margin-top: 75%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  color: #000000;
  text-align: center;
  font-size: 1vw;
  font-family: georgia, serif;
}
