a {  
  text-decoration: underline;  
  color: #9e9e9e;
}

body {  
  font-family: verdana;  
  color: #9e9e9e;  
}

h1 {  
  font-family: verdana;  
  color: #0099cc;
}

h2 {  
  font-family: verdana;  
  color: #0099cc;
}

p {  
  line-height: 130%;
}

.p_warning {  
  font-family: verdana;  
  color: #ffcc66;  
  border-top-width: thin;  
  border-bottom-width: thin;  
  border-top-style: solid;  
  border-bottom-style: solid;  
  margin-top: 15px;  
  margin-right: 20px;  
  margin-bottom: 15px;  
  margin-left: 20px;  
  padding-top: 3px;  
  padding-bottom: 3px;
}

p.p_warning:before {  
  content: "\26A0  ";
}

.p_tip {  
  font-family: verdana;  
  color: #33cc00;  
  border-top-width: thin;  
  border-bottom-width: thin;  
  border-top-style: dashed;  
  border-bottom-style: dashed;  
  margin-top: 15px;  
  margin-right: 20px;  
  margin-bottom: 15px;  
  margin-left: 20px;  
  padding-top: 3px;  
  padding-bottom: 3px;
}

p.p_tip:before {  
  content: "\2738  ";
}

.p_inf {  
  font-family: verdana;  
  color: #0099cc;  
  border-top-width: thin;  
  border-bottom-width: thin;  
  border-top-style: dotted;  
  border-bottom-style: dotted;  
  margin-top: 15px;  
  margin-right: 20px;  
  margin-bottom: 15px;  
  margin-left: 20px;  
  padding-top: 3px;  
  padding-bottom: 3px;
}

p.p_inf:before {  
  content: "\2714  ";
}

ul {  
  bottom: 5px;
}

li {  
  line-height: 20px;
}

