.gradle
local.properties
app/local.properties
.DS_Store
app/build
sosfilter/build
onomap-geoserver/geoserver/build
/build
app/release
app/debug
*.iml
.idea/
*target/
*.apk
*.bat
*.bak
onomap-geoserver/geoserver/data_dir
gradle.properties
onomap-geoserver/geoserver/out/
*.hprof

