<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.noise_planet.noisecapture">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Save shared file permission on privte folder -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <permission
        android:name="org.noise_planet.noisecapture.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="com.example.hellomap.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- android:name="android.support.multidex.MultiDexApplication" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.noise_planet.noisecapture.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".MeasurementService" />

        <activity
            android:name=".MeasurementActivity"
            android:label="@string/title_activity_measurement"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"/>
        <activity
            android:name=".View_html_page"
            android:noHistory="true"
            android:label="@string/title_activity_view_html_page"/>
        <activity
            android:name=".SettingsActivity"
            android:noHistory="true"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Start"
            android:label="@string/title_activity_start"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".History"
            android:label="@string/title_activity_history"/>
        <activity
            android:name=".CalibrationActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_calibration_start"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAYoxRofWQ-HVerF_Bb1ysuiXajgYcWlNM" />

        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>