<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.noise_planet.noisecapture" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="org.noise_planet.noisecapture.Measurement"
            android:label="@string/title_activity_measurement"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.noise_planet.noisecapture.Results"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.noise_planet.noisecapture.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="org.noise_planet.noisecapture.View_html_page"
            android:label="@string/title_activity_view_html_page" >
        </activity>
        <activity
            android:name="org.noise_planet.noisecapture.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.noise_planet.noisecapture.Start"
            android:label="@string/title_activity_start"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.noise_planet.noisecapture.History"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="org.noise_planet.noisecapture.activity_calibration_start"
            android:label="@string/title_activity_calibration_start" >
        </activity>
    </application>

</manifest>
