name: androidbuild

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Put gradle.properties settings
        run: |
          touch gradle.properties
          echo android.useAndroidX=true >> gradle.properties
          echo org.gradle.jvmargs=-Xmx4096M >> gradle.properties
      - name: Building
        run: ./gradlew build -x test --info --stacktrace
      - name: Test
        run: ./gradlew test --info --stacktrace
      - name: Clean
        run: rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            $HOME/.m2/
            $HOME/.gradle/caches/
            $HOME/.gradle/wrapper/
          key: ${{ runner.os }}-${{ hashFiles('**/lockfiles') }}